.theater {
  border: 1px solid black;
  width: 500px;
  height: 700px;
  background: #444;

  &__screen {
    width: 90%;
    height: 25px;
    background: black;
    margin: 0 auto;
    color: white;
    text-align: center;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    color: white;
  }

  &__controls {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
  }
}
